[submodule "assets/ext/angular-fx"]
	path = assets/ext/angular-fx
	url = https://github.com/720kb/angular-fx.git
[submodule "assets/ext/animate.css"]
	path = assets/ext/animate.css
	url = https://github.com/daneden/animate.css.git
