[ng-bounce-in],
[ng-bounce-in-down],
[ng-bounce-in-left],
[ng-bounce-in-right],
[ng-bounce-in-up],
[ng-fade-in],
[ng-fade-in-down],
[ng-fade-in-down-big],
[ng-fade-in-left],
[ng-fade-in-left-big],
[ng-fade-in-right],
[ng-fade-in-right-big],
[ng-fade-in-up],
[ng-fade-in-up-big],
[ng-flip-in-x],
[ng-flip-in-y],
[ng-light-speed-in],
[ng-rotate-in],
[ng-rotate-in-up-left],
[ng-rotate-in-up-right],
[ng-rotate-in-down-left],
[ng-rotate-in-down-right],
[ng-roll-in],
[ng-zoom-in],
[ng-zoom-in-down],
[ng-zoom-in-left],
[ng-zoom-in-right],
[ng-zoom-in-up],
[ng-fx-default=hide]{
  display:none;
}
[ng-bounce-in].ng-bouncein-start,
[ng-bounce-in-down].ng-bounceindown-start,
[ng-bounce-in-left].ng-bounceinleft-start,
[ng-bounce-in-right].ng-bounceinright-start,
[ng-bounce-in-up].ng-bounceinup-start,
[ng-fade-in].ng-fadein-start,
[ng-fade-in-down].ng-fadeindown-start,
[ng-fade-in-down-big].ng-fadeindownbig-start,
[ng-fade-in-left].ng-fadeinleft-start,
[ng-fade-in-left-big].ng-fadeinleftbig-start,
[ng-fade-in-right].ng-fadeinright-start,
[ng-fade-in-right-big].ng-fadeinrightbig-start,
[ng-fade-in-up].ng-fadeinup-start,
[ng-fade-in-up-big].ng-fadeinupbig-start,
[ng-flip-in-x].ng-flipinx-start,
[ng-flip-in-y].ng-flipiny-start,
[ng-light-speed-in].ng-lightspeedin-start,
[ng-rotate-in].ng-rotatein-start,
[ng-rotate-in-up-left].ng-rotateinupleft-start,
[ng-rotate-in-up-right].ng-rotateinupright-start,
[ng-rotate-in-down-left].ng-rotateindownleft-start,
[ng-rotate-in-down-right].ng-rotateindownright-start,
[ng-roll-in].ng-rollin-start,
[ng-zoom-in].ng-zoomin-start,
[ng-zoom-in-down].ng-zoomindown-start,
[ng-zoom-in-left].ng-zoomindown-start,
[ng-zoom-in-right].ng-zoominright-start,
[ng-zoom-in-up].ng-zoominup-start,
[ng-fx-default=show]{
  display:inherit;
}
/*Speed*/
.animated,[ng-fx-speed=medium]{
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}[ng-fx-speed=slow]{
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
}[ng-fx-speed=fast]{
  -webkit-animation-duration: .45s;
          animation-duration: .45s;
}